/* form submit */
.form-submit {
  display: block;
  --tone: hsl(352, 18%, 40%);
}
.form-submit > * + * {
  margin-top: 0.35rem;
}
.form-submit[data-state='busy'] {
  opacity: 0.6;
  pointer-events: none;
}
