/* base: type */
html {
  font-family: 'SF Mono', 'Cascadia Code', monospace;
  font-size: 16px;
}
.numeral {
  font-variant-numeric: tabular-nums;
}
.hint-text {
  font-size: 0.8rem;
  opacity: 0.65;
}
